<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.backend.admin.AdminMapper">
    <resultMap id="adminResultMap" type="com.kh.backend.admin.Admin">
        <result property="no" column="no"/>
        <result property="id" column="id"/>
        <result property="pw" column="pw"/>
    </resultMap>
    <select id="findById" parameterType="String" resultType="com.kh.backend.admin.Admin"> SELECT *FROM admin WHERE id = #{id}
        </select>
    <insert id="insertAdmin">
        insert into ADMIN(id, pw) VALUES (#{id}, #{pw})
    </insert>
</mapper>