.header-container {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--background-color);
    height: 80px;
    width: 100%;
    z-index: 1000;

    .categories-container {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--background-color);
        box-shadow: 1px 5px 4px var(--shaded-color);
        transition: all 0.3s ease;
        z-index: -1;
        height: 80px;
    }

    .categories-container.expanded {
        top: 80px;
        height: fit-content;
    }

    .categories-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
    }

    .category-button {
        background-color: var(--primary-color);
        color: var(--background-color);
        border: none;
        border-radius: 20px;
        padding: 10px 20px;
        margin: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .category-button:hover {
        background-color: var(--secondary-color);
    }

    .fixed-logo-wrapper {
        position: fixed;
        top: 10px;
        left: 15px;
        z-index: 1001;
        font-size: 50px;
        color: var(--primary-color);
        cursor: pointer;
    }

    .fixed-menu-wrapper {
        position: fixed;
        top: 14px;
        right: 50px;
        width: 86px;
        height: 48px;
        z-index: 1001;
        border-radius: 30px;
        border: solid 1px var(--shaded-color);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0 0 0 5px;
        cursor: pointer;
    }

    .profile-img-wrapper {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        background-color: var(--shaded-color);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--shaded-light-color);
    }

    .fixed-menu-wrapper:hover {
        box-shadow: var(--shaded-light-color) 0px 3px 2px;
    }

    .profile-dropdown {
        position: fixed;
        top: 70px;
        right: 50px;
        background-color: var(--background-color);
        border: 1px solid var(--shaded-color);
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        min-width: 150px;
        z-index: 1002;
    }

    .profile-img-wrapper:hover .profile-dropdown {
        opacity: 1;
        visibility: visible;
    }

    .dropdown-option {
        padding: 10px;
        cursor: pointer;
    }

    .dropdown-option:hover {
        background-color: var(--shaded-color);
    }

    .dropdown-divider {
        border-top: 1px solid var(--shaded-color);
        margin: 5px 0;
    }
}
