.member-reservations-list {
    margin-top: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.member-reservations-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #eee;
    transition: background-color 0.3s;
}

.member-reservations-item:hover {
    background-color: #f1f1f1;
}

.member-reservations-details {
    display: flex;
    flex-direction: column;
}

.member-reservations-details p {
    margin: 5px 0;
}

.member-reservations-title {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.cancel-button,
.review-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 10px;
    color: white;
}

.cancel-button {
    background-color: #dc3545; /* 빨간색 배경 */
}

.cancel-button:hover {
    background-color: #c82333; /* 빨간색 hover 효과 */
    transform: translateY(-2px);
}

.review-button {
    background-color: #28a745; /* 초록색 배경 */
}

.review-button:hover {
    background-color: #218838; /* 초록색 hover 효과 */
    transform: translateY(-2px);
}

/* 비활성화된 버튼 스타일 */
.cancel-button:disabled,
.review-button:disabled {
    background-color: #e0e0e0; /* 비활성화된 버튼의 배경색 */
    color: #a0a0a0; /* 비활성화된 버튼의 글자색 */
    cursor: not-allowed; /* 커서 모양 변경 */
    border: 1px solid #c0c0c0; /* 비활성화된 버튼의 테두리 색상 */
}

