.MemberPayment {
    max-width: 1000px;
    margin: 20px auto;
    padding: 40px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fff;
    font-family: Arial, sans-serif;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.MemberPayment__header {
    text-align: center;
    margin-bottom: 30px;
}

.MemberPayment__logo {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.MemberPayment__title {
    font-size: 36px; /* 글씨 크기 확대 */
    font-weight: bold;
    color: #e91e63;
}

.MemberPayment__description {
    font-size: 20px; /* 글씨 크기 확대 */
    margin-bottom: 30px;
    color: #555;
}

.MemberPayment__content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.MemberPayment__left,
.MemberPayment__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
}

.MemberPayment__sectionTitle {
    font-size: 30px; /* 글씨 크기 확대 */
    font-weight: bold;
    color: #e91e63;
    margin-bottom: 20px;
}

.MemberPayment__detail {
    margin-bottom: 20px;
}

.MemberPayment__detail label {
    font-weight: bold;
    font-size: 22px; /* 글씨 크기 확대 */
    margin-bottom: 5px;
}

.MemberPayment__detail input,
.MemberPayment__detail select {
    padding: 15px; /* 패딩 크기 증가 */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px; /* 글씨 크기 확대 */
    width: 100%;
    box-sizing: border-box;
}

.MemberPayment__error {
    color: #e91e63;
    font-size: 18px; /* 글씨 크기 확대 */
    margin-top: 5px;
}

.MemberPayment__summary,
.MemberPayment__costDetails {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.MemberPayment__summary p,
.MemberPayment__costDetails p,
.MemberPayment__costDetails strong {
    font-size: 20px; /* 글씨 크기 확대 */
    margin-bottom: 10px;
}

.MemberPayment__costDetails strong {
    color: #e91e63;
    font-weight: bold;
}

.MemberPayment__button {
    padding: 20px; /* 패딩 크기 증가 */
    font-size: 24px; /* 글씨 크기 확대 */
    font-weight: bold;
    color: #fff;
    background-color: #e91e63;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.MemberPayment__button:hover {
    background-color: #d81b60;
}

.MemberPayment__securityInfo {
    margin-top: 15px;
    font-size: 18px; /* 글씨 크기 확대 */
    color: #777;
    text-align: center;
}
